<%- include('../partials/_sinifDersInfo') %>
<div class="columnGroup d-md-flex justify-content-evenly">
  <div class="column col-md-3 col-12">
    <div class="title">
      Duyurular
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#duyuruEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="columnItems">
      <% if (sinif.duyurular.length==0) { %>
      <div class="text-center display-6">Hiç duyuru yok !</div>
      <% } else { %>
      <% sinif.duyurular.forEach(duyuru => { %>
      <%- include('../partials/_duyuruRow',{duyuru}) %>
      <% }) %>
      <% } %>
    </div>
  </div>
  <div class="column col-md-4 col-12">
    <div class="title">
      Ödevler
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#odevEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>

    <div class="columnItems">
      <% if (odevler.length==0) { %>
      <div class="text-center display-6">Hiç ödev yok !</div>
      <% } else { %>
      <% odevler.forEach(odev => { %>
      <%- include('../partials/_odevRow',{odev}) %>
      <% }) %>
      <% } %>

    </div>
  </div>
  <div class="column col-md-4 col-12">
    <div class="title">
      Öğrenciler
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#ogrenciEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="columnItems">
      <% if (sinif.ogrenciler.length==0) { %>
      <div class="text-center display-6">Hiç öğrenci yok !</div>
      <% } else { %>
      <% sinif.ogrenciler.forEach(ogrenci => { %>
      <%- include('../partials/_ogrenciRow',{ogrenci}) %>
      <% }) %>
      <% } %>

    </div>
  </div>
</div>

<script>
  $(function() {
    $(".ogrenciDetayBtn").click(async function(e) {
      const ogrenciID = $(this).val();
      const token = Cookies.get('token');
      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
      const ogrenci = await axios.get("/api/user/" + ogrenciID, config);
      console.log(ogrenci.data);
      for (const key in ogrenci.data) {
        $("#" + key).text(ogrenci.data[key]);
      }
      $("#id").val(ogrenci.data._id);
      $("#ogrenciDetayModal .profileImage img").attr("src", ogrenci.data.profileImage)

    });
    $(".ogrenciKaldirBtn").click(async function(e) {
      e.preventDefault();
      const ogrenciID = $(this).val();
      const sinifID = $("#sinifid").val();
      const token = Cookies.get('token');
      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
      const data = {
        ogrenciID: ogrenciID,
        sinifID: sinifID
      };
      const result = await axios.patch("/api/siniflar/ogrenciSil", data, config);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/ogretmen/siniflar/" + sinifID, 2);
      }
    })

    $(".sinifiSilBtn").click(async function(e) {
      e.preventDefault();
      const token = Cookies.get('token');
      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
      const sinifId = $(this).attr("value");
      const result = await axios.delete("/api/siniflar/" + sinifId, config);
      console.log(result);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/ogretmen/siniflar", 2);
      }
    })
  })
</script>

<%- include('../partials/_duyuruEkleModal') %>
<%- include('../partials/_odevEkleModal') %>
<%- include('../partials/_ogrenciEkleModal') %>
<%- include('../partials/_ogrenciDetayModal') %>