<%- include('../partials/_sinifDersInfo') %>
<div class="columnGroup d-md-flex justify-content-evenly">
  <div class="column col-md-3 col-12">
    <div class="title">
      Duyurular
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#duyuruEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="columnItems">
      <% if (sinif.duyurular.length==0) { %>
      <div class="text-center display-6">Hiç duyuru yok !</div>
      <% } else { %>
      <% sinif.duyurular.forEach(duyuru => { %>
      <%- include('../partials/_duyuruRow',{duyuru}) %>
      <% }) %>
      <% } %>
    </div>
  </div>
  <div class="column col-md-4 col-12">
    <div class="title">
      Ödevler
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#odevEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>

    <div class="columnItems">
      <% if (odevler.length==0) { %>
      <div class="text-center display-6">Hiç ödev yok !</div>
      <% } else { %>
      <% odevler.forEach(odev => { %>
      <%- include('../partials/_odevRow',{odev,cozulmus:0}) %>
      <% }) %>
      <% } %>

    </div>
  </div>
  <div class="column col-md-4 col-12">
    <div class="title">
      Öğrenciler
      <button class="addRow" data-bs-toggle="modal" data-bs-target="#ogrenciEkleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="columnItems ogrencilerColumn">
      <% if (sinif.ogrenciler.length==0) { %>
      <div class="text-center display-6">Hiç öğrenci yok !</div>
      <% } else { %>
      <% sinif.ogrenciler.forEach(ogrenci => { %>
      <%- include('../partials/_ogrenciRow',{ogrenci}) %>
      <% }) %>
      <% } %>

    </div>
  </div>
</div>

<script>
  $(function() {
    const token = Cookies.get('token');
    const config = {
      headers: {
        Authorization: `Bearer ${token}`
      }
    };
    $(".ogrenciDetayBtn").click(async function(e) {
      const ogrenciID = $(this).val();

      const ogrenci = await axios.get("/api/user/" + ogrenciID, config);
      console.log(ogrenci.data);
      for (const key in ogrenci.data) {
        $("#" + key).text(ogrenci.data[key]);
      }
      $("#id").val(ogrenci.data._id);
      $("#ogrenciDetayModal .profileImage img").attr("src", ogrenci.data.profileImage)

    });

    $(".ogrenciKaldirBtn").click(async function(e) {
      e.preventDefault();
      const ogrenciID = $(this).val();
      const sinifID = $("#sinifid").val();
      const data = {
        ogrenciID: ogrenciID,
        sinifID: sinifID
      };
      const result = await axios.patch("/api/siniflar/ogrenciSil", data, config);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/ogretmen/siniflar/" + sinifID, 2);
      }
    })

    $(".sinifiSilBtn").click(async function(e) {
      e.preventDefault();
      const sinifId = $(this).attr("value");
      const result = await axios.delete("/api/siniflar/" + sinifId, config);
      console.log(result);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/ogretmen/siniflar", 2);
      }
    });

    $(".odeviKaldirBtn").click(async function(e){
      e.preventDefault();
      const sinifID = $("#sinifid").val();
      const odevId = $(this).val();
      const result = await axios.delete("/api/odevler/delete/"+odevId,config);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/ogretmen/siniflar/" + sinifID, 2);
      }
    });

    const odeviGetir = async (odevId) => {
      console.log("/api/odevler/odev/" + odevId);
      const result = await axios.get("/api/odevler/odev/" + odevId, config);
      // console.log(result.data);
      return result.data;
    }

    const odeviGoster = (odev) => {
      $("#odevBaslik").text(odev.title)
      $(".odevSorular").empty();
      odev.sorular.forEach((soru, index) => {
        let soruElement;
        if (soru.soruType == "test") {
          soruElement = `<div class="odevSoruTest">
            <h3>${index+1}.Soru</h3>
            <div class="odevSoruContent">
              ${soru.content}
            </div>
            <div class="odevSoruSecenekler">
              <div class="d-flex align-items-center gap-1">
                <div class"text-light">A)</div>
                <label for="${index}a">${soru.a}</label>
              </div>
              <div class="d-flex align-items-center gap-1">
                <div class"text-light">B)</div>
                <label for="${index}b">${soru.b}</label>
              </div>
              <div class="d-flex align-items-center gap-1">
                <div class"text-light">C)</div>
                <label for="${index}c">${soru.c}</label>
              </div>
              <div class="d-flex align-items-center gap-1">
                <div class"text-light">D)</div>
                <label for="${index}d">${soru.d}</label>
              </div>
              <div class="d-flex align-items-center gap-1 text-light">
                <div class="bg-yesil rounded" for="${index}d">Cevap: ${soru.answer}</div>
              </div>

            </div>
          </div>`;
        } else if (soru.soruType == "klasik") {
          soruElement = `<div class="odevSoruKlasik">
            <h3>${index+1}.Soru</h3>
            <div class="odevSoruContent">
              ${soru.content}
            </div>
          </div>`;
        }



        $(".odevSorular").append(soruElement);
      });

    }

    const tamamlayanOgrencileriGoster = (ogrenciler, puan) => {
      ogrenciler.forEach((ogrenci) => {
        $(".detaylar").append(`
          <div class="d-flex justify-content-between align-items-center tamamlayanOgrenci">
            <div class="text-center">
              <img src="${ogrenci.ogrenci.profileImage}" alt="" class="rowImage">
              <div>
                <div class="badge bg-mavi">${ogrenci.ogrenci.ad} ${ogrenci.ogrenci.soyad}</div>
              </div>
              <div>
                <div class="badge bg-acikmavi">No: ${ogrenci.ogrenci.no}</div>
              </div>
              
            </div>

            <div>
              <div class="rounded p-3 bg-mavi my-2">Doğru: ${ogrenci.dogruSayisi}</div>
              <div class="rounded p-3 bg-kirmizi my-2">Yanlış: ${ogrenci.yanlisSayisi}</div>
              <div class="rounded p-3 bg-acikmavi my-2">Puan: ${(ogrenci.dogruSayisi/(ogrenci.dogruSayisi+ogrenci.yanlisSayisi)*puan).toFixed(2)}</div>
            </div>
          </div>
          
          `);
      })
    }

    const grafikCiz = (toplamDogru, toplamYanlis) => {
      $(".grafik").append(`<canvas class="chart" id="basariOrani"></canvas>`);
      const ctx = document.getElementById('basariOrani');
      new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Toplam Doğru', 'Toplam Yanlış'],
          datasets: [{
            label: 'Ödev Başarı Oranı',
            data: [toplamDogru, toplamYanlis],
            backgroundColor: [
              'rgb(63, 114, 175)',
              'rgb(231, 76, 60)'
            ],
          }]
        }
      });
    }

    $(".odevDetaylarBtn").click(async function(e) {
      e.preventDefault();
      const odevId = $(this).val();

      $("#odevSorular").empty();
      $(".grafik").empty();
      $(".detaylar").empty();

      const detaylarHtml = ``;
      const odev = await odeviGetir(odevId);
      odeviGoster(odev);
      if (odev.tamamlayanOgrenciler.length > 0) {
        tamamlayanOgrencileriGoster(odev.tamamlayanOgrenciler, odev.puan);
        let toplamDogru = 0;
        let toplamYanlis = 0;
        odev.tamamlayanOgrenciler.forEach((item, index) => {
          console.log(item);
          toplamDogru += item.dogruSayisi;
          toplamYanlis += item.yanlisSayisi;
        });

        grafikCiz(toplamDogru, toplamYanlis);
        $(".grafik").append(`<div class="rounded p-3 bg-mavi my-2">Sınıf Başarı Oranı: %${(toplamDogru/(toplamDogru+toplamYanlis)*100).toFixed(2)}</div>`);
        $(".grafik").append(`<div class="rounded p-3 bg-mavi my-2">Ödevi Çözen Öğrenci Sayısı: ${odev.tamamlayanOgrenciler.length} / ${$(".ogrencilerColumn").children().length}</div>`);
      }else{
        $(".grafik").append(`<div class="rounded p-3 bg-mavi my-2">Ödevi henüz hiçbir öğrenci çözmemiş</div>`);



      }

    });



  })
</script>

<%- include('../partials/_duyuruEkleModal') %>
<%- include('../partials/_odevEkleModal') %>
<%- include('../partials/_ogrenciEkleModal') %>
<%- include('../partials/_ogrenciDetayModal') %>
<%- include('../partials/_odevDetayModal') %>