<div class="soruDetay">
  <div id="soruId" class="d-none"><%= soru._id %></div>
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <h4><%= soru.title %></h4>
    </div>
    <div>
      <div class="bg-sari text-light rounded p-1 my-2">
        <i class="fa-solid fa-calendar-days"></i>
        <%= soru.createdAt %>
      </div>
      <!-- <div class="d-flex gap-3 justify-content-between">
        <div class="soruBadge bg-mavi">
          <i class="fa-solid fa-thumbs-up"></i>
          <span><%= soru.likeCount %></span>
        </div>
        <div class="soruBadge bg-kirmizi">
          <i class="fa-solid fa-thumbs-down"></i>
          <span><%= soru.dislikeCount %></span>
        </div>
        <div class="soruBadge bg-yesil">
          <i class="fa-solid fa-comment-dots"></i>
          <span><%= soru.cevaplar.length %></span>
        </div>
      </div> -->
    </div>
  </div>

  <div>
    <%- soru.htmlContent %>
  </div>
</div>

<div class="cevaplar">
  <% soru.cevaplar.forEach(cevap => { %>
  <%- include('../partials/_cevap',{cevap}) %>
  <% }) %>
</div>

<div class="editorWrapper">
  <div id="soruEditor">
  </div>
</div>
<div class="text-end">
  <button class="button button-success" id="cevapBtn">Gönder</button>
</div>

<script>
  $(function() {
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'], // toggled buttons
      ['blockquote', 'code-block'],

      [{
        'header': 1
      }, {
        'header': 2
      }], // custom button values
      [{
        'list': 'ordered'
      }, {
        'list': 'bullet'
      }],
      [{
        'script': 'sub'
      }, {
        'script': 'super'
      }], // superscript/subscript
      [{
        'indent': '-1'
      }, {
        'indent': '+1'
      }], // outdent/indent
      [{
        'direction': 'rtl'
      }], // text direction

      [{
        'size': ['small', false, 'large', 'huge']
      }], // custom dropdown
      [{
        'header': [1, 2, 3, 4, 5, 6, false]
      }],
      ['link', 'image', 'video', 'formula'], // add's image support
      [{
        'color': []
      }, {
        'background': []
      }], // dropdown with defaults from theme
      [{
        'font': []
      }],
      [{
        'align': []
      }],

      ['clean'] // remove formatting button
    ];

    var quill = new Quill('#soruEditor', {
      modules: {
        toolbar: toolbarOptions
      },
      placeholder: "Yanıt oluşturun...",
      theme: 'snow'
    });

    const token = Cookies.get('token');
    const config = {
      headers: {
        Authorization: `Bearer ${token}`
      }
    };

    $("#cevapBtn").click(async function(e) {
      e.preventDefault();
      const htmlContent = $("#soruEditor .ql-editor").html();
      const formData = $("#soruEkleForm").serializeArray();
      const formJson = formArrayToJson(formData);
      formJson.htmlContent = htmlContent;
      const cevapHtml = $("#soruEditor .ql-editor").html();
      const soruId = $("#soruId").text();
      const result = await axios.post("/api/sorular/cevap/" + soruId, formJson, config);
      if (result.data.status == 404) {
        createToast("Hata", result.data.mesaj, "error");
      } else {
        createToast("Bilgi", result.data.mesaj, "success");
        yonlendir("/sorular/soru/"+soruId, 2);
      }
    })

  })
</script>