<%- include('./partials/_header'); %>
<%- include('./partials/_navbar'); %>
<%- include('./partials/_leftMenu'); %>
<%- include('./partials/_profileMenu'); %>

<div id="container" class="container my-2">
  <% if (page=="anasayfa") { %>
  <%- include('./pages/anasayfa') %>

  <% }else if (page=="siniflar") { %>
  <%- include('./pages/dersler') %>

  <% }else if (page=="dersler" ) { %>
  <%- include('./pages/dersler') %>

  <% }else if (page=="dersDetay" ) { %>
  <%- include('./pages/dersDetay') %>

  <% }else if (page=="sinifDetay" ) { %>
  <%- include('./pages/sinifDetay') %>

  <% }else if (page=="sohbet" ) { %>
  <%- include('./pages/sohbet') %>

  <% }else if (page=="profile" ) { %>
  <%- include('./pages/profile') %>

  <% }else if (page=="sorular" ) { %>
  <%- include('./pages/sorular') %>

  <% }else if (page=="soruDetay" ) { %>
  <%- include('./pages/soruDetay') %>
  
  <% }else if (page=="todolist" ) { %>
  <%- include('./pages/todolist') %>
  <% } %>


</div>



<%- include('./partials/_footer') %>