<div class="courseCard">
  <% 
  let bildirimSayisi=0;
  userSession.bildirimler.forEach(bildirim => {
    if(bildirim.sinifid == sinif._id){
      bildirimSayisi++;
    }
  });
  %>
  <% if (bildirimSayisi!=0) { %>
    <span class="notify position-absolute translate-middle badge bg-danger">
    <%= bildirimSayisi %>
    </span>
  <% } %>


  <div class="courseCardHeader rounded-0 rounded-top course-background">
    <%- include('./_dropdown') %>
    <% if (userSession.role=="ogretmen") { %>
    <a href="<%= baseURL %>/ogretmen/siniflar/<%= sinif._id %>">
      <% } else { %>
      <a href="<%= baseURL %>/ogrenci/dersler/<%= sinif._id %>">
        <% } %>
        <% if (sinif.ad.length<=12) { %>
        <h2><%= sinif.ad %></h2>
        <% } else { %>
        <h2><%= sinif.ad.substring(0,12)+"..." %></h2>
        <% } %>
      </a>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="courseTeacher"><%= sinif.ogretmen.ad + " "+ sinif.ogretmen.soyad %> </div>
          <p><%= sinif.bolum || sinif.aciklama %></p>
        </div>
        <div>
          <img src="<%= sinif.ogretmen.profileImage%>" style="width: 60px;" alt="" class="profileImage">
        </div>
      </div>

  </div>
  <div class="courseCardBody">
    <!-- burada ogretmen ve ogrenci için farklı birligler yer alacak -->
    <!-- ogrenci için kaç tane ödevi olduğu yazacak -->
    <!-- ogretmen için kac adet ogrenci olduğu belirtilecek -->
    <% if (bildirimSayisi!=0) { %>
      <i class="fa-solid fa-bullhorn"></i>
    <span><%= bildirimSayisi %> adet yeni bildirimiz var !</span>
    <% } else { %>
     <span>Hiç bildirim yok !</span>
    <% } %>


  </div>
  <div class="courseCardFooter">
    <!-- ogrenci için derse git -->
    <!-- ogretmen için sınıfa git -->
    <% if (userSession.role=="ogretmen") { %>
    <a href="<%= baseURL %>/ogretmen/siniflar/<%= sinif._id %>" class="courseBtn btn rounded-0 rounded-bottom">Sınıfa git</a>
    <% } else { %>
    <a href="<%= baseURL %>/ogrenci/dersler/<%= sinif._id %>" class="courseBtn btn rounded-0 rounded-bottom">Derse git</a>
    <% } %>

  </div>
</div>