<div class="offcanvas offcanvas-start leftMenu" tabindex="1" id="menu" aria-labelledby="menu">
  <div class="offcanvas-header">
    <div class="nav-img">
      <a href="/">
        <img src="<%= baseURL %>/image/logo.png" alt="">
      </a>
    </div>
  </div>
  <div class="offcanvas-body pt-0">
    <% if (userSession.role=="ogretmen") { %>
    <div class="offcanvas-item">
      <a href="<%= baseURL %>/ogretmen/siniflar">
        <i class="fa-solid fa-school"></i>
        <span>Sınıflar</span>
      </a>
    </div>
    <% } %>
    <% if (userSession.role=="ogrenci") { %>
    <div class="offcanvas-item">
      <a href="<%= baseURL %>/ogrenci/dersler">
        <i class="fa-solid fa-book-open"></i>
        <span>Dersler & Ödevler</span>
      </a>
    </div>
    <% } %>

    <div class="offcanvas-item">
      <a href="<%= baseURL %>/sohbet">
        <i class="fa-solid fa-message"></i>
        <span>Sohbet</span>
      </a>
    </div>
    <div class="offcanvas-item">
      <a href="<%= baseURL %>/todolist">
        <i class="fa-solid fa-list-check"></i>
        <span>Yapılacaklar Listesi</span>
      </a>
    </div>
    <div class="offcanvas-item">
      <a href="<%= baseURL %>/sorular/">
        <i class="fa-solid fa-circle-question"></i>
        <span>Sorular</span>
      </a>
    </div>

  </div>
</div>