<div class="offcanvas offcanvas-end" tabindex="1" id="profile" aria-labelledby="profile">
    <div class="offcanvas-header">
        <div class="nav-img">
            <a href="/">
                <img src="<%= baseURL %>/image/logo.png" alt="">
            </a>
        </div>
    </div>
    <div class="offcanvas-body pt-0">
        <div class="profileImage mb-3">
            <img src="<%= userSession.profileImage %>" alt="">
        </div>
        <div class="profileInfo">
            <div class="profileName"><%= userSession.ad + " " + userSession.soyad %></div>
            <div class="no"><%= userSession.no %></div>
            <div class="role"><%= userSession.role=="ogretmen" ? "Öğretmen":"Öğrenci" %></div>
        </div>

        <hr>
        <div class="offcanvas-item">
            <a href="/profil">
                <i class="fa-solid fa-gears"></i>
                <span>Profilim</span>
            </a>
        </div>
        <div class="offcanvas-item">
            <a id="logoutBtn" href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Çıkış</span>
            </a>
        </div>
    </div>
</div>

<script>
    $(function(){
        $("#logoutBtn").click(function(e){
            e.preventDefault();
            const sonuc = axiosDelete("/cikis");
            window.location.href="/giris";
        });
        
    })
</script>